<nav class="navbar">
  <div class="navbar__inner">
    <a routerLink="/" class="brand" (click)="closeMenu()">
      <img src="assets/images/verduleria-logo.svg" alt="Logo" class="brand__logo" />
      <span class="brand__name">Verdulería RyT</span>
    </a>

    <button class="menu-btn" type="button"
            [attr.aria-expanded]="abierto" aria-controls="menu"
            (click)="toggleMenu()">
      <span class="sr">Abrir menú</span>
      <svg viewBox="0 0 24 24" class="menu-btn__icon" aria-hidden="true">
        <path fill="currentColor" d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"/>
      </svg>
    </button>


    <ul id="menu" class="menu" [class.menu--open]="abierto">
  
      <li class="menu__item">
        <a routerLink="/" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{ exact:true }"
           class="menu__link" (click)="closeMenu()">Inicio</a>
      </li>

      <ng-container *ngIf="!loggedIn">
        <li class="menu__item">
          <a routerLink="/login" routerLinkActive="is-active"
             class="menu__link" (click)="closeMenu()">Login</a>
        </li>
        <li class="menu__item">
          <a routerLink="/registro" routerLinkActive="is-active"
             class="menu__link" (click)="closeMenu()">Registro</a>
        </li>
      </ng-container>

     
      <li class="menu__item" *ngIf="loggedIn">
        <a routerLink="/productos" routerLinkActive="is-active"
           class="menu__link" (click)="closeMenu()">Productos</a>
        <app-cart-badge class="menu__cart" *ngIf="loggedIn"></app-cart-badge>
      </li>

      <li class="menu__item">
        <a routerLink="/nosotros" routerLinkActive="is-active"
           class="menu__link" (click)="closeMenu()">Nosotros</a>
      </li>

      <li class="menu__item">
        <a routerLink="/contacto" routerLinkActive="is-active"
           class="menu__link" (click)="closeMenu()">Contacto</a>
      </li>
      <li class="menu__item">
        <app-dark-toggle></app-dark-toggle>
      </li>
      <li class="menu__item" *ngIf="loggedIn">
        <button type="button" class="btn-logout" (click)="logout()">Cerrar sesión</button>
      </li>
    </ul>
  </div>
</nav>
