<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">

  @for (producto of productosFiltrados ; track producto.id) {
<div class="product-card">
<!-- Imagen uniforme -->
<img [src]="producto.imagen" alt="Imagen del producto">
 
    <!-- Información del producto -->
<div class="p-4">
<h3>{{ producto.nombre }}</h3>
<div class="product-info"><strong>Código:</strong> {{ producto.id }}</div>
<div class="product-info"><strong>Precio:</strong> <span class="text-green-600 font-bold">${{ producto.precio }}</span></div>
<div class="product-info"><strong>Stock:</strong> {{ producto.stock }}</div>
<!-- Botón -->
<button type="button" class="product-button" (click)="comprar(producto)">

        Comprar
</button>
</div>
</div>

  }
</div>

 